.todo {
  &__list {
    button {
      padding: 0;
      width: 30px;
      height: auto;
      font-size: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  &__item{
    &--DONE{
      text-decoration: line-through;
    }
  }
}
