@import '../../../../assets/sass/variables.scss';
@import '../../../../assets/sass/mixins.scss';

.socials{
    font-size: 0;
    text-align: center;
    &-item{
        display: inline-block;
        vertical-align: middle;
        margin: 3px;
        &-icon{
            font-size: 0;
            width: 50px;
            height: 50px;
            background-color: $app-color;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            box-shadow: 0 0 0 1px $app-color;
            @include animated;
            i{
                @include animated;
                position: absolute;
                background-size: 25px 25px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                span,
                &:before,
                &:after{
                    background-size: 25px 25px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                &:before,
                &:after{
                    content: '';
                    z-index: 1;
                    clip: rect(0 0 0 0);
                }
                span{
                    z-index: 2;
                }
                &:before{
                    left: -2px;
                }
                &:after{
                    right: -2px;
                    left: auto;
                }
            }
            &__github{
                i{
                    span{
                        background-image: url(icons/github.svg);
                    }
                    &:before{
                        background-image: url(icons/github-red.svg);
                    }
                    &:after{
                        background-image: url(icons/github-green.svg);
                    }
                }
            }
            &__linkedin{
                i{
                    span{
                        background-image: url(icons/linkedin.svg);
                    }
                    &:before{
                        background-image: url(icons/linkedin-red.svg);
                    }
                    &:after{
                        background-image: url(icons/linkedin-green.svg);
                    }
                }
            }
            &__codepen{
                i{
                    span{
                        background-image: url(icons/codepen.svg);
                    }
                    &:before{
                        background-image: url(icons/codepen-red.svg);
                    }
                    &:after{
                        background-image: url(icons/codepen-green.svg);
                    }
                }
            }
            &__instagram{
                i{
                    span{
                        background-image: url(icons/instagram.svg);
                    }
                    &:before{
                        background-image: url(icons/instagram-red.svg);
                    }
                    &:after{
                        background-image: url(icons/instagram-green.svg);
                    }
                }
            }
            &:hover{
                background-size: 28px 28px;
                i{
                    &:after{
                        animation: glitch-anim 2.5s infinite linear alternate-reverse;
                    }
                    &:before{
                        animation: glitch-anim-2 3s infinite linear alternate-reverse;
                    }
                }
            }
            &:active{
                box-shadow: 0 0 0 3px $app-color;
            }
        }
    }
    &__vertical{
        .socials{
            text-align: center;
            &-item{
                display: block;
                margin: 5px;
                text-align: center;
            }
        }
    }
}