@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/mixins.scss';

.logo{
    width: 70px;
    height: 70px;
    background-color: $app-background;
    clip-path: polygon(0% 0%, 100% 0%, 50% 80%);
    position: relative;
    display: block;
    margin: 0 auto;
    .blob{
        position: absolute;
        top: 20%;
    }
}