@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/main.scss';

.app{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
    &-sidebar{
        left: 0;
        width: 100px;
        height: 100%;
        position: fixed;
        z-index: 1;
        text-align: center;
        @include animated;
    }
    &-main{
        position: relative;
        z-index: 2;
    }
}