body.custom-cursor {
  cursor: none;
  & * {
    &,
    &:hover {
      cursor: none;
    }
  }
}

.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: all 0.1s;
  &__mini {
    width: 5px;
    height: 5px;
    transition: all 0s;
  }
}

.cursors {
  .cursor {
    &__mini {
      transition: margin-top 0.6s, margin-left 0.6s;
    }
    &__big {
      width: 30px;
      height: 30px;
      will-change: left, top, width, height, transform;
      transition: transform 0.6s, height 0.6s, width 0.6s,
        border-radius 0.6s;
    }
  }
  &__click {
    .cursor {
      &__mini {
      }
      &__big {
        transform: translate(-50%, -50%) scale(2);
      }
    }
  }
  &__link {
    .cursor {
      &__mini {
      }
      &__big {
        transform: translate(-50%, -50%) scale(1.5);
      }
    }
  }
  &__scroll-down,
  &__scroll-up {
    .cursor {
      &__mini {
      }
      &__big {
        height: 60px;
        border-radius: 25px;
      }
    }
  }
  &__scroll-left,
  &__scroll-right {
    .cursor {
      &__mini {
      }
      &__big {
        width: 60px;
        border-radius: 25px;
      }
    }
  }
  &__scroll-down {
    .cursor {
      &__mini {
        margin-top: 15px;
      }
    }
  }
  &__scroll-up {
    .cursor {
      &__mini {
        margin-top: -15px;
      }
    }
  }
  &__scroll-left {
    .cursor {
      &__mini {
        margin-left: -15px;
      }
    }
  }
  &__scroll-right {
    .cursor {
      &__mini {
        margin-left: 15px;
      }
    }
  }
}
