@import '../../../../assets/sass/variables.scss';
@import '../../../../assets/sass/mixins.scss';

.preloader{
    background-color: $preloader-background;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include animated;
    &-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        @include transform(scale(1));
        @include animated(0.4s);
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $preloader-dot-color;
            border-radius: 50%;
            animation: 1s linear infinite pulse;
        }
    }
    &__first{
        .preloader{
            &-inner{
                @include transform(scale(0));
            }
        }
    }
    &__loading{
        opacity: 1;
        visibility: visible;
    }
    &__full{
        transition-delay: 0.4s;
        background-color: $preloader-dot-color;
        .preloader{
            &-inner{
                @include transform(scale(25));
            }
        }
    }
}

@keyframes pulse {
    0% {
        @include transform(scale(1));
    }
    25% {
        @include transform(scale(1.4));
    }
    50% {
        @include transform(scale(1));
    }
}