@mixin transform($string) {
	transform: $string;
}

.preloader {
  --background: #2b2c31;
  --dot: #fff;
  background-color: var(--background);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.3s;
  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    transform: scale(1);
    transition: all 0.4s;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dot);
      border-radius: 50%;
      transition: all 0.3s;
      animation: 1s linear infinite pulse;
    }
  }
  &__first {
    .preloader {
      &-inner {
        transform: scale(0);
      }
    }
  }
  &__loading {
    opacity: 1;
    visibility: visible;
  }
  &__full {
    transition-delay: 0.4s;
    background-color: var(--dot);
    .preloader {
      &-inner {
        transform: scale(25);
      }
    }
  }
  &__mini {
    background-color: transparent;
    .preloader {
      &-inner {
        transform: scale(1);
        &:after {
          background-color: var(--background);
        }
      }
    }
    &.preloader {
      &__full {
        .preloader {
          &-inner {
            transform: scale(0);
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
}
