@import 'variables.scss';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

::selection {
    background: $color-black;
    color: $color-white;
}

::-moz-selection {
    background: $color-black;
    color: $color-white;
}

::-webkit-scrollbar {
    background: 0 0;
    width: 2px;
    height: 2px
}

::-webkit-scrollbar-track {
    background: $color-white;
}

::-webkit-scrollbar-thumb {
    background: $color-black;
    opacity: 1;
    border-radius: 0;
}

body{
    background-color: $panel-background;
    color: $app-color;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.app{
    background-color: $panel-background;
    height: 100%;
}