$app-background: #2b2c31;
$panel-background: #fff;
$theme-color: #fff;

$color-black: #000;
$color-white: #fff;
$color-light-black: #202020;

$app-color: $app-background;
$preloader-background: $app-background;
$preloader-dot-color: $panel-background;
$sidebar-background: $color-light-black;
$sidebar-elements: #444;
